body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #0078d7;
    color: white;
    padding: 20px;
}

main {
    padding: 30px;
}

button {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}